.base {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 6px 2px 0px #00000040;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    width: 40px;
}
