.loadingSectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.loadingSection {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.loadingText {
    margin-bottom: 12px;
}