#root {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.base {
  min-height: 100vh;
  min-width: 100vw;
}

.allPostsWrapper {
  padding: 16px;
  max-width: 440px;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}