:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.ant-modal .ant-modal-content {
  padding: 0px;
}

.ant-modal-confirm-body-wrapper {
  padding: 16px;
}

.ant-float-btn-content, .ant-float-btn-body {
  overflow: visible !important;
}

.ant-checkbox-wrapper {
  margin-inline-start: 0px !important;
}