.loaderWrapper {
    display: inline;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    margin: auto;
}

.errorWrapper {
    text-align: center;
    border-radius: 10px;
    padding: 16px;
}

.base {
    width: 100%;
}

.listWrapper {
    width: 100%;
}

.postWrapper {
    margin-bottom: 16px;
}

.listEndWrapper {
    text-align: center;
    margin: auto;
}

.listDoneWrapper {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
}