.modalTitle {
    width: 100%;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: end;
    width: 100%;
    gap: 8px;
    padding-top: 12px;
}

.input {
    width: 100%;
}


.footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 20px;
}

.confirmButton {
    flex: 1;
    max-width: 240px;
}

.modalButton {
    height: auto;
}

.hintText {
    padding: 16px;
    padding-bottom: 0px;
}