.base {
    display: flex;
}

.countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-right-style: none;
    border-right-width: none;
}

.button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}