.base {
    border-radius: 10px;
    padding: 16px;
}

.logo {
    width: 40px;
    height: 40px;
}

.headerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bodyRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
