.modalTitle {
    width: 100%;
}

.fileNameInputRow {
    display: flex;
    align-items: baseline;
}

.input {
    flex: 1;
    margin-right: 4px;
}

.footer {
    margin-left: 16px;
    margin-top: 16px;
}

.footerButton {
    margin-bottom: 12px;
}

.responseStatusText {
    font-weight: bold;
}

.successResponse {
    background: #D0D0D0;
    padding: 12px
}
