.floatButton {
    overflow: visible;
    width: 80px;
    height: 80px;
}

.floatIcon {
    transform: scale(2);
}

.checklistContainer {
    position: absolute;
    border-radius: 10px;
    right: 50%;
    bottom: 50%;
    transition: transform 0.3s cubic-bezier(.46,-0.28,.78,.53);
    transform-origin: bottom right;
    transform: scale(0);
    min-width: 340px;
    text-align: start;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.checklistContainerActive {
    position: absolute;
    border-radius: 10px;
    right: 50%;
    bottom: 50%;
    transform: scale(1);
    transition-timing-function: cubic-bezier(.25,1.6,.47,.84);
    transition-duration: 0.35s;
}

.checklistTitle {
    width: 100%;
}

.footerWrapper {
    margin-top: 16px;
    margin-left: 16px;
}

.checklistRow {
    margin-bottom: 16px;
}

.checklistLabelText {
    margin: 0px !important;
    font-size: 16px;
}

.checklistFooter {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 4px;
}


.verifyDeployButton {
    margin-top: 8px;
}
